.content {
  width: 100%;
  line-height: 16px;

  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 0.875rem;
}

.term {
  height: 36px;
  padding: 0.725rem;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.term:hover {
  background: var(--gray-600);
}

.termQuantity {
  width: 48px;
  text-align: center;
}

.selectedTerm {
  height: 36px;
  padding: 0.725rem;
  background: var(--green-500);
  color: var(--white) !important;
  display: flex;
}

.selectedTerm .excludeButton {
  color: var(--white);
}

.excludeButton {
  font-weight: bold;
  margin-right: 1.5rem;
  color: var(--gray-400);
  text-decoration: none;
  cursor: pointer;

  transition: color 0.1s;
}

.excludeButton:hover {
  color: var(--red-500) !important;
}
