.termsList {
  height: calc(100vh - 60px);
  width: 300px;
  background: var(--gray-800);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.termsList > strong {
  margin: 1.5rem 0 0 1.5rem;
}

.termsContainer {
  border-top: 1px solid var(--gray-600);
  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  overflow: hidden;
}

.termsContainer form {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.termsContainer form input {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  margin-left: 2px;
  border-radius: 8px;
  padding: 0.875rem;
  color: var(--gray-100);
  line-height: 1.4;
}

.termsContainer form button {
  border: 0;
  border-radius: 8px;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  padding: 0 1rem;

  transition: background-color 0.1s;
}

.termsContainer form button:hover {
  background: var(--green-300);
}

/* .termsView {
  display: flex;
  flex-wrap: wrap;
  gap: 0.875rem;
  overflow-y: auto;
} */
