.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .forms {
    grid-template-columns: 1fr;
  }
}
